<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>KidKinder - Kindergarten Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Free HTML Templates" name="keywords"/>
    <meta content="Free HTML Templates" name="description"/>
    <link href="/css/login.css" rel="stylesheet"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {
            $("#goIndex").on("click", function () {
                location.href = "/index";

            })

            // 비밀번호  찾기
            $("#btnSearchPassword").on("click", function () {
                let f = document.getElementById("f"); // form 태그

                if (f.password.value === "") {
                    alert("새로운 비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                }

                if (f.password2.value === "") {
                    alert("검증을 위한 새로운 비밀번호를 입력하세요.");
                    f.password2.focus();
                    return;
                }


                if (f.password.value !== f.password2.value) {
                    alert("입력한 비밀번호가 일치하지 않습니다.");
                    f.password.focus();
                    return;
                }

                $.ajax({
                    url: "/user/newPasswordProc",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                }).then(
                    function (json) {
                        if (json.result === 1) { // 수정 성공
                            alert(json.msg); // 메시지 띄우기
                            location.href = "/index"; // 로그인 페이지 이동

                        } else { // 수정 실패
                            alert(json.msg); // 메시지 띄우기
                        }

                    }
                )
            })
        })
    </script>
    <style>
        body {
            background-image: url(/img/index.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 화면의 높이를 전체로 채우기 위해 설정 */
            margin: 0; /* body 요소의 기본 마진 제거 */
        }
    </style>
</head>

<body>
<div class="wrapper" style="background-color: transparent !important;">
    <div class="container">
        <div class="sign-in-container">
            <form id="f" name="f">
                <h1>비밀번호 연결</h1>
                <br>
                <input id="password" name="password" type="password" placeholder="새 비밀번호">
                <input id="password2" name="password2" type="password" placeholder="새 비밀번호 확인">
                <button type="button" id="btnSearchPassword" class="form_btn">비밀번호 변경</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay-right">
                <h1>인덱스 화면으로</h1>
                <button type="button" id="goIndex" class="form_btn">돌아가기</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
</body>
</html>

