<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>KidKinder - Kindergarten Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Free HTML Templates" name="keywords"/>
    <meta content="Free HTML Templates" name="description"/>
    <link href="/css/login.css" rel="stylesheet"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            // 비밀번호  찾기
            $("#btnSearchPassword").on("click", function () {
                let f = document.getElementById("f"); // form 태그

                if (f.password.value === "") {
                    alert("새로운 비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                }

                if (f.password2.value === "") {
                    alert("검증을 위한 새로운 비밀번호를 입력하세요.");
                    f.password2.focus();
                    return;
                }


                if (f.password.value !== f.password2.value) {
                    alert("입력한 비밀번호가 일치하지 않습니다.");
                    f.password.focus();
                    return;
                }

                f.method = "post"; // 비밀번호 찾기 정보 전송 방식
                f.action = "/user/newPasswordProc" // 비밀번호 찾기 URL

                f.submit(); // 아이디 찾기 정보 전송하기
            })
        })
    </script>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <div class="sign-in-container">
            <form id="f" name="f">
                <h1>아이디 찾기</h1>
                <br>
                <input id="password" name="password" type="password" placeholder="새 비밀번호">
                <input id="password2" name="password2" type="password" placeholder="새 비밀번호 확인">
                <button id="btnSearchPassword" class="form_btn">비밀번호 변경</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay-right">
                <h1>인덱스 화면으로</h1>
                <button id="goIndex" class="form_btn">돌아가기</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
</body>
</html>

