<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IUserInfoMapper">
    <resultMap id="userResult" type="java.util.HashMap">
        <id column="USER_ID" property="userId"/>
        <result column="USER_ID" property="userId"/>
        <result column="NICKNAME" property="nickname"/>
        <result column="PASSWORD" property="password"/>
        <result column="EMAIL" property="email"/>
        <result column="REG_DT" property="regDt"/>

    </resultMap>

    <!--  userId가 존재하는지 확인  -->
    <select id="getUserIdExists" parameterType="UserInfoDTO" resultType="String">
        SELECT CASE WHEN COUNT(1) = 0 THEN 'N' ELSE 'Y' END AS existsYn
        FROM USER_INFO
        WHERE USER_ID = #{userId};
    </select>

    <select id="getUserInfo" parameterType="UserInfoDTO" resultMap="userResult">
        SELECT USER_ID, NICKNAME, PASSWORD, EMAIL, REG_DT
        FROM USER_INFO
        WHERE USER_ID = #{userId}
        AND NICKNAME = #{nickname}
    </select>

    <select id="getLogin" parameterType="UserInfoDTO" resultMap="userResult">
        SELECT USER_ID, NICKNAME, PASSWORD, EMAIL, REG_DT
        FROM USER_INFO
        WHERE USER_ID = #{userId}
        AND PASSWORD = #{password}
    </select>

    <select id="getUserId" parameterType="UserInfoDTO" resultMap="userResult">
        SELECT USER_ID, NICKNAME, EMAIL
        FROM USER_INFO
        WHERE 1=1
        <if test="userId neq null and userId neq ''">
            AND USER_ID = #{userId}
        </if>
        AND NICKNAME = #{nickname}
        AND EMAIL = #{email}
    </select>
    <update id ="updatePassword" parameterType="UserInfoDTO">
        UPDATE  USER_INFO
        SET PASSWORD = #{password}
        WHERE USER_ID = #{userId}
    </update>
    <select id="getLoginInfo" resultType="UserInfoDTO">
        SELECT USER_ID, USER_NAME, PASSWORD, EMAIL, ADDR1, ADDR2,
               REG_ID, REG_DT, CHG_ID, CHG_DT, USER_SEQ
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <!-- 회원 가입 전 이메일 중복체크하기 -->
    <select id="getEmailExists" parameterType="UserInfoDTO" resultType="String">
        SELECT CASE WHEN COUNT(1) = 0 THEN 'N' ELSE 'Y' END AS existsYn
        FROM USER_INFO
        WHERE EMAIL = #{email}
    </select>

    <!--  회원 가입 정보를 DB에 저장  -->
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (
            USER_ID, NICKNAME, PASSWORD, EMAIL, REG_DT
        )
        VALUES(
                  #{userId}, #{nickname}, #{password}, #{email}, #{regDt}
              )
    </insert>
</mapper>